a {
  color: #678dc5;
}

input {
  width: 71%;
  border-radius: 5px;
  box-shadow: 4px 4px 3px rgba(180, 179, 179, 0.3);
  margin-left: 25px;
  margin-right: 8px;
}

li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

.city-name {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding: 15px;
}

.conditions-list {
  text-align: center;
}

.currentLocation {
  color: white;
  background-color: #7ca4de;
  border: 1px transparent;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow: 4px 4px 3px rgba(180, 179, 179, 0.3);
  transition: all 150ms ease-in-out;
  padding: 6px 13px 5px;
  text-align: center;
  border: 1px solid #7ca4de;
  font-size: 19px;
}

.currentLocation:hover {
  cursor: pointer;
  background-color: #333153;
  border-color: #333153;
  color: white;
}

.current-temp {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-top: 3px;
}

.date {
  text-align: left;
}

.image-container img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.searchButton {
  color: white;
  background-color: #7ca4de;
  border: 1px transparent;
  border-radius: 5px;

  box-shadow: 4px 4px 3px rgba(180, 179, 179, 0.3);
  transition: all 150ms ease-in-out;
  padding: 6px 10px 5px;
  border: 1px solid #7ca4de;
  text-align: center;
}

.searchButton:hover {
  cursor: pointer;
  background-color: #333153;
  border-color: #333153;
  color: white;
}

.todays-high-and-low {
  text-align: center;
}

.under-search-bar {
  padding-left: 30px;
  font-size: 14px;
  text-decoration: none;
}

.under-search-bar .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.under-search-bar .active:hover {
  text-decoration: none;
}

.under-search-bar .link:hover {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
  font-family: "Kalam", cursive;
  font-size: 18px;
  font-weight: 600;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 3px 3px 2px rgba(201, 199, 199, 0.3);
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  opacity: 0.6;
}

.weather-forecast-low {
  opacity: 0.6;
  font-size: 15px;
}

.weather-forecast-high {
  font-size: 15px;
}

.col-4 {
  padding-top: 15px;
  padding-bottom: 50px;
}
